.success{
color: #270;
background-color: #DFF2BF;
display: block;
text-align-last: center;
}

.failure
{
color: #D8000c;
background-color: #FFBABA;
display: block;
text-align-last: center;
}
 	
.notice
{
color: #9F6000;
background-color: #FEEFB3;
display: block;
text-align-last: center;
}